doctype strict
html(lang='en')
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    meta(name='viewport', content='initial-scale=1.0')
    meta(name='format-detection', content='telephone=no')
    title dEmail - Automated Results
    style(type='text/css')

      | .ReadMsgBody { width: 100%; background-color: #ebebeb;}
      | .ExternalClass {width: 100%; background-color: #ebebeb;}
      | body {-webkit-text-size-adjust:none; -ms-text-size-adjust:none;}
      | body {margin:0; padding:0;}
      | table {border-spacing:0;}
      | table td {border-collapse:collapse;}
      | .yshortcuts a {border-bottom: none !important;}

      | @media screen and (max-width: 600px) {
      | table[class="container"] {
      | width: 95% !important;
      | }
      | }

      | @media screen and (max-width: 480px) {
      | td[class="container-padding"] {
      | padding-left: 12px !important;
      | padding-right: 12px !important;
      | }
      | }
  body(style='margin: 0; padding: 10px 0;', bgcolor='#ebebeb', leftmargin='0', topmargin='0', marginwidth='0', marginheight='0')
    br
    //- 100% wrapper (grey background)
    table(border='0', width='100%', height='100%', cellpadding='0', cellspacing='0', bgcolor='#ebebeb')
      tr
        td(align='center', valign='top', bgcolor='#ebebeb', style='background-color: #ebebeb;')
          //- 600px container (white background)
          table.container(border='0', width='600', cellpadding='0', cellspacing='0', bgcolor='#ffffff')
            tr
              td.container-padding(bgcolor='#ffffff', style='background-color: #ffffff; padding-left: 30px; padding-right: 30px; font-size: 14px; line-height: 20px; font-family: Helvetica, sans-serif; color: #333;')
                br
                //- BEGIN CONTENT
                  table
                    //- Logo Images
                    tr 
                    //- Title
                    tr
                    //- Car Logos and Names 
                    tr
                    tr
                    //- Indidivual Car Results
                    tr
                      td
                        table
                          tr
                            td Finished
                            td 1st
                          tr
                            td Speed
                            td 220 miles per hour
                          tr
                            td Time
                            td 18 Seconds
                      td
                        table
                          tr
                            td Finished
                            td 2nd
                          tr
                            td Speed
                            td 200 miles per hour
                          tr
                            td Time
                            td 19 Seconds
                    //- General Notes
                    tr
                    //- Black Divider
                    tr
                    //- Full Series Results
                    tr

                  
                //- END CONTENT
          //-  /600px container
    //-  /100% wrapper
    br
    br

